{% extends 'base.html' %}
{% load static %}


{% block title %}
VOOM.MANIC
{% endblock %}


{% block content %}

<div class="container-fluid main-photo mb-5">
	<div class="row main-photo">
		{% for photo in main_photo_list %}
		<img data-aos="fade-down" data-aos-duration="800" class="img-fluid img-main-photo"
			src="{{ photo.main_photo.url }}" alt="">
		{% endfor %}
	</div>
</div>

<div class="container my-4">
	<div class="row about my-4">
		<div class="col">
			<div data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
				class="row text-center">
				<h3>НЕМНОГО О СЕБЕ</h3>
			</div>
			<div class="row row-cols-1 row-cols-md-2 my-2 g-4">
				<div data-aos="fade-right" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-4 col-md-12">
					<div class="row text-center">
						<h5>НАВЫКИ</h5>
					</div>
					<div class="row ps-4 justify-content-center align-items-center h-100">
						<ul>
							{% for another_skill in skills_list %}
							<li>
								<p>{{ another_skill.skill }}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-8 col-md-12">
					<div class="row text-center">
						<h5>СЕРТИФИКАТЫ</h5>
					</div>
					<div class="container-fluid container-certificates p-0 mt-4">
						<div class="col-lg-10 text-center mx-auto">
							{% for cert in cert_images_list %}
							<a data-fancybox="gallery" href="{{ cert.cert_image.url }}"><img
									src="{{ cert.cert_image.url }}" alt=""></a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="hr-washed">

<div class="container my-4">
	<div class="row services my-4">
		<div class="col">
			<div data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
				class="row text-center">
				<h3>ПРЕДОСТАВЛЯЕМЫЕ УСЛУГИ</h3>
			</div>
			<div 
				class="row row-cols-1 row-cols-md-2 my-2 g-4">
				{% for service in services_list %}
				<div class="col">
					<div data-aos="{% cycle 'flip-right' 'flip-left' %}" data-aos-anchor-placement="top-bottom" data-aos-duration="800" class="card card-services h-100">
						<img src="{{ service.service_image.url }}" class="card-img-top" alt="">
						<div class="card-body">
							<h5 class="card-title">{{ service.title }}</h5>
							<p class="card-text">{{ service.text }}</p>
							<div class="d-grid col-lg-6 col-md-12 mt-3 mb-0 mx-auto">
								<a href="{{ service.slug }}">
									<button class="btn btn-light" type="button">
										<p>{{ service.button_text }}</p>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<hr class="hr-washed">

<div class="container my-4">
	<div class="row my-4 text-center justify-content-center">
		<div class="col">
			<div data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
				class="row text-center">
				<h3>ПОРТФОЛИО</h3>
			</div>
			<div class="row row-cols-1 row-cols-md-2 my-4 g-4">
				<div data-aos="zoom-in-right" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6">
					<div class="wrapper">
						<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								{% for image in portfolio_images_list %}
								<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
									class="{% if forloop.counter0 == 0 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
								{% endfor %}
							</div>
							<div class="carousel-inner">
								{% for image in portfolio_images_list %}
								<div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
									<img src="{{ image.portfolio_photo.url }}" class="d-block w-100"
										alt="">
								</div>
								{% endfor %}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
								data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Предыдущий</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
								data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Следующий</span>
							</button>
						</div>
					</div>
				</div>
				<div data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6">
					<p style="white-space: pre-wrap">{% for text in portfolio_text_list %} {{ text.text|safe }} {% endfor %}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<hr class="hr-washed">

<div class="container my-4">
	<div class="row my-4 text-center justify-content-center">
		<div class="col">
			<div data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
				class="row text-center">
				<h3>СВЯЗАТЬСЯ СО МНОЙ</h3>
			</div>
			<div class="row justify-content-center mt-4">
				<div data-aos="flip-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6 col-contacts my-4 px-5">
					<div class="card card-contacts-whatsapp">
						<a href="https://wa.me/79773009217"><i class="fa-brands fa-whatsapp icon-contact"></i></a>
					</div>
				</div>
				<div data-aos="flip-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6 col-contacts my-4 px-5">
					<div class="card card-contacts-instagram">
						<a href="https://api.instagram.com/voom.manic/"><i
								class="fa-brands fa-instagram icon-contact"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	AOS.init();
</script>

{% endblock %}