{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="container my-4">
	<div class="row my-4 text-center justify-content-center">
		<div class="col">
			<div data-aos="fade-down" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
				class="row text-center">
				<h3>ОБУЧЕНИЕ ОФФЛАЙН</h3>
			</div>
			<div class="row row-cols-1 row-cols-md-2 my-4 g-4">
				<div data-aos="zoom-in-right" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6">
					<div class="wrapper">
						<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-indicators">
								{% for photo in student_work_photo_list %}
								<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
									class="{% if forloop.counter0 == 0 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
								{% endfor %}
							</div>
							<div class="carousel-inner">
								{% for photo in student_work_photo_list %}
								<div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
									<img src="{{ photo.student_work_photo.url }}" class="d-block w-100"
										alt="">
								</div>
								{% endfor %}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
								data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Предыдущий</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
								data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Следующий</span>
							</button>
						</div>
					</div>
				</div>
				<div data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" data-aos-duration="800"
					class="col-lg-6">
					<p style="white-space: pre-wrap">{% for text in training_text_list %} {{ text.text|safe }} {% endfor %}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row my-4 justify-content-center">
	<div class="d-grid col-lg-6 col-md-12 my-3">
		{% for course in object_list %}
		<a href="{{ course.get_absolute_url }}">
			<button class="btn btn-light" type="button">
				<p>{{ course.title }}</p>
			</button>
		</a>
		{% endfor %}
	</div>
</div>



<script>
	AOS.init();
</script>

{% endblock %}